.Apex-module-container{
    width: 100%;
    height: 110vh;
    overflow: hidden;
    color: white;
    background-color: rgba(255, 0, 0, 1);
    display: flex;
    justify-content: center;
}
.Apex-body-container{
    width: 87%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Apex-text-container{
    width: 320px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 6vh;
    border: 2px solid white;

}

.Apex-image-container{
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    border: 2px solid white;
    align-items: center;
    justify-content: center;

}

.Apex-image-container img{
    width: 49%;
    height: auto;
    margin: 0;
    padding: .2px;
}

h3{
  font-size: 7.5vw;
  line-height: 0.9;
  -webkit-text-stroke: 3.5px white;
  letter-spacing: 2px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0;
  padding-bottom: 0;;
}