





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



h3{
  font-size: 7.5vw;
  line-height: 0.9;
  -webkit-text-stroke: 3.5px white;
  letter-spacing: 2px;
  margin-top: 0px;
  padding-top: 0px;
}

p{
  font-family: 'Times New Roman', Times, serif;
  padding-top: 0px;
  margin-top: 0px;
  font-size: 2vw;
}