.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}





h3{
  font-size: 7.5vw;
  line-height: 0.9;
  -webkit-text-stroke: 3.5px white;
  letter-spacing: 2px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0;
  padding-bottom: 0;;
}

p{
  font-family: 'Times New Roman', Times, serif;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 2vw;
}